* {
  box-sizing: border-box;
}
body {
  display: grid;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  grid-template-areas:
      'a b'
      'c c';
      margin: 10%;
      width: 80%;
}

header {
  grid-area: a;
}

form {
  grid-area: b;
}

.container {
  grid-area: c;
}

ul {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

li {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-direction: column;
  width: 20vw;
}
.contain {
  display: flex;
  justify-content: center;
}
.name{
  display: flex;
  align-content: flex-start;
  text-align: center;
}
.thum-img {
  max-height: 100px;
  max-width: 100px;
}
 
.venus-lips {
  max-height: 80vh;
}
button {
  font-size: 20px;
  /* height: 50%; */
  padding: 20% auto;
}
.inputField {
  font-size: 20px;
  padding: 20% auto;
  margin: 20% auto;
}

.modal-container{
  width: 80vw;
  /* border: 4px solid rgb(144, 189, 11); */
  /* margin: 5% auto; */
  display: none; 
  position: fixed;
  justify-items: center;
  text-align: center;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto; 
  background-color: white; 
  background-color: rgba(229, 47, 47, 0.4);
}
.modal-content {
  position: relative;
  background-color: white; 
  text-align: center;
  padding: 10px;
  border: 4px solid rgb(144, 189, 11);
  width: 80%;
  list-style-position: inside;
}
.nutrition {
  list-style-type: none;
}

.close {
  color: rgb(199, 8, 8);
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 992px) {
  .hidden-xl {
    display: none;
  }
}
@media (max-width: 992px) {
  .lg-60 {
    width: 60%;
  }

  .lg-40 {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .medium-50 {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .small-100 {
    width: 100%;
  }
}
/* @mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; } */
/* }
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
} */